.main {
    padding-top: 90px;
    padding-bottom: 60px;
    background: url('../../assets/img/main-bg.jpg') repeat 0% 50%;

    @include media-breakpoint-down(sm) { 
        &__cards-wrapper {
            position: relative;
            overflow: hidden;
            max-width: 320px;
            margin: 0 auto;
            padding: 7px;
        }
    }
}