.main {
    padding-top: 90px;
    padding-bottom: 60px;
    background: url('../../assets/img/main-bg.jpg') repeat 0% 50%;

    &__cards-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .product-card {
            margin-bottom: 60px;
        }
    }

    @include media-breakpoint-down(sm) { 
        &__cards-wrapper { 
            display: block;

            .product-card {
                margin: 0 auto;
                margin-bottom: 40px;
            }
        }
    }
}