.swiper-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .product-card {
        margin-bottom: 60px;
    }
}

.swiper-pagination {
    display: none;
}

@include media-breakpoint-down(sm) { 
    .swiper-wrapper {
        flex-wrap: nowrap;
    }

    .swiper-pagination {
        display: block;
    }

    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 35px !important;
    }
}

