.product-card {
    &__popup {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: white;
        opacity: 0.95;
        padding: 35px 15px 10px;
        z-index: 3;

        &.open {
            display: block;
        }

        .product-card__text {
            text-align: left;
            margin-top: 0;
            margin-bottom: 30px;
        }

        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 20px;
            height: 20px;
            top: 0%;
            right: 20%;
            background-color: white;
            transform: translate(50%, -50%) rotate(45deg);
        }
    }

    .cross-btn {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    &__list {
        text-align: left;
        list-style-type: decimal;
        list-style-position: inside;
    }
    
    &__list-item {
        color: $font-main;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.5rem;
        margin-bottom: 30px;
    }

    @include media-breakpoint-down(md) {
        &__popup {
            .product-card__text {
                margin-bottom: 20px;
                line-height: 1.6rem;
            }
        }

        &__list-item {
            margin-bottom: 20px;
            line-height: 1.6rem;
        }
    }
}