*, *::after, *::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Akrobat", Arial, sans-serif;
    font-weight: 400;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input, textarea, button {
    font-family: "Akrobat", Arial, sans-serif;
    background: none;
    border: none;
    resize: none;
    padding: 0;

    &:focus {
        outline: none;
    }
}

button {
    cursor: pointer;
}

img {
    object-fit: contain;
}

h1, h2, h3, h4, p {
    margin: 0;
}

svg {
    width: 25px;
    height: 25px;
}

.wrapper {
    overflow: hidden;
}

@include media-breakpoint-down(md) {
    html {
        font-size: 11px;
    }
}